<section id="loginPane">
  <!-- <h3 class="text-center">Enter your Dronesmith API email</h3> -->
    <form class="panel-body" name="loginForm" novalidate>
      <fieldset
        class="form-group"
        ng-class="{
          'has-error': loginForm.email.$dirty && loginForm.email.$invalid

        }">
        <label for="email">Email Address</label>
        <input
          type="email"
          class="form-control"
          id="email"
          name="email"
          placeholder="Email"
          ng-model="user.email"
          ng-model-options="{ updateOn: 'default blur', debounce: { 'default': 200, 'blur': 0 }}"
          required>
          <span ng-show="loginForm.email.$error.email" class="text-danger">Please enter a valid email.</span>
      </fieldset>
      <fieldset
        class="form-group"
        ng-class="{
          'has-error': loginForm.password.$dirty && loginForm.password.$invalid

        }">
        <label for="password">Password</label>
        <input
          type="password"
          class="form-control"
          id="password"
          name="password"
          placeholder="Password"
          ng-model="user.password"
          ng-model-options="{ updateOn: 'default blur', debounce: { 'default': 200, 'blur': 0 }}"
          ng-pattern="/^(?=.*[a-z]).{8,20}$/"
          required>
          <span ng-show="loginForm.password.$dirty && loginForm.password.$error.pattern" class="text-danger">Please enter a valid password.</span>
      </fieldset>
      <button
        type="submit"
        class="btn btn-primary"
        ng-disabled="!loginForm.$valid"
        ng-click="update(user)"
        value="LogIn">Login</button>
          <button class="btn btn-default pull-right" ng-click="signup()">Sign up</button>
        <!-- <button class="btn btn-default pull-right" ui-sref="signup">Signup for Early Access</button> -->
      <a ui-sref="resetPassword">Forgot Password?</a>
    </form>
    <!-- <hr> -->

</section>
