<section id="loginPane">
  <form ng-hide="signupSubmitted" class="panel-body" name="loginForm"
  novalidate>
    <div class="spinner" ng-show="spin==true"
      style=" position: absolute;
      overflow: visible;
      top: -110px;
      right: 20px;
    ">
      <img src="assets/img/spinner.svg" alt="">
    </div>
    <div class="row">
      <div class="col-xs-12" style="padding: 15px 15px 30px 15px;">
        <div style="display: block; float: left;
          font-size: 22px;
          line-height: 1;
          font-weight: normal">Log in</div>
        <div style="display: block;float: right;
          margin-top: 7px;
          line-height: 1;
          font-weight: normal">
          or
          <a ng-click="gotoSignup()" href="">create an account</a>
        </div>
      </div>
    </div>


    <div class="row">
      <div class="col-xs-12">
        <fieldset class="form-group has-feedback" ng-class="{
        'has-error': loginForm.email.$dirty && loginForm.email.$invalid
        }">
          <label for="email">Email</label>

          <!-- <span class="input-group-addon">&nbsp<i class="fa fa-envelope fa-fw"></i>&nbsp</span> -->
          <input type="email" class="form-control input-lg"
            id="email" name="email"
            placeholder=""
            ng-model="user.email"
            ng-model-options="{ updateOn: 'default blur', debounce: { 'default': 200, 'blur': 0 }}" required>
          <span
            class="fa fa-fw form-control-feedback"
            ng-show="loginForm.email.$dirty"
            ng-class="{'fa-times': loginForm.email.$dirty && loginForm.email.$invalid,
          'fa-check': loginForm.email.$dirty && loginForm.email.$valid
          }"
            aria-hidden="true"></span>

          <span ng-show="loginForm.email.$error.email" class="text-danger">Please enter a valid email.</span>
        </fieldset>

      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <fieldset class="form-group has-feedback" ng-class="{
        'has-error': loginForm.password.$dirty && loginForm.password.$invalid
        }">
          <label for="password">Password</label>
          <input
            tooltip-placement="right"
            uib-tooltip="If you have never created a password please click Reset Password"
            tooltip-append-to-body="true"
            type="password"
            class="form-control input-lg"
            id="password"
            name="password"
            placeholder=""
            ng-model="user.password"
            ng-model-options="{ updateOn: 'default blur', debounce: { 'default': 200, 'blur': 0 }}"
            ng-pattern="/^(?=.*[a-z]).{8,20}$/"
            required>
          <span
            class="fa fa-times fa-fw form-control-feedback"
            ng-show="loginForm.password.$dirty"
            ng-class="{'fa-times': loginForm.password.$dirty && loginForm.password.$invalid,
          'fa-check': loginForm.password.$dirty && loginForm.password.$valid
          }"
            aria-hidden="true"></span>
          <span ng-show="loginForm.password.$error.pattern" class="text-danger">Password must be at least 8 characters</span>
        </fieldset>
      </div>

    </div>



    <div class="row">
      <div class="col-xs-12">
        <fieldset ng-hide="user.kind!='other'"
          class="form-group"
          ng-class="{
          'has-error': loginForm.Otherkind.$dirty && loginForm.Otherkind.$invalid
          }">

            <input type="text" id="Otherkind" name="Otherkind"
              class="form-control input-lg"
              placeholder="What do you do?"
              ng-maxlength="25"
              ng-model="user.other"
              ng-required="user.kind=='other'">

        </fieldset>
      </div>
    </div>
    <div class="row" ng-show="error==true" style="margin-top:15px;">
      <div class="col-xs-12 text-center">
        <p class="text-danger">Email and password do not match.</p>

      </div>
    </div>
      <div class="row" style="margin-top:15px;">
    <div class="col-xs-6 col-xs-offset-3">

          <button
            type="submit"
            style="background-color: #093c71 !important;"
            class="btn btn-primary btn-block"
            ng-disabled="!loginForm.$valid"
            ng-click="update(user)"
            value="LogIn">Log in</button>


            </div>

            </div>
            <div class="row" style="margin-top:15px;">
              <div class="col-xs-12 text-center">
                <a class="" ui-sref="resetPassword">Forgot password?</a>
              </div>
            </div>

  </form>


  <!-- <div class="row" style="">
    <div class="col-xs-6 col-xs-offset-3">
      <button type="submit"
        style="background-color: #093c71 !important;"
        class="btn btn-primary btn-block"
        ng-disabled="!loginForm.$valid"
        ng-click="update(user)"
        value="Signup">Create an account</button>
    </div>
  </div> -->

</section>
