<section>
  <div class="panel-body">

    <div class="row" ng-show="error">
      <div class="col-xs-12 ">
        <div  class="alert alert-danger" role="alert" style="">
          <p style="font-size: 13px;" ng-model="error">{{error}}</p>
        </div>
      </div>
    </div>

    <div class="row" ng-show="!error">
      <div class="col-xs-12">
        <h1 class="text-center" style="font-weight: 700; margin-top: 15px; margin-bottom: 25px;">{{messageHeader}}</h1>
        <p>{{message}}</p>
      </div>
    </div>

    <div class="row" style="margin-top:15px;">
      <div class="col-xs-6 col-xs-offset-3">
          <button
            type="submit"
            class="btn btn-default btn-block"
            ui-sref="login">Log in to Hangar</button>
      </div>
    </div>

  </div>
</section>
