<section id="sentResetPasswordPane">
  <div class="panel-body">
    <div class="row">
      <div class="col-xs-12">
        <h3>Please check your email.</h3>
        <p>We sent an email to {{email}}, which contains a link to reset your password.</p>
      </div>
    </div>
    <div class="row" style="margin-top:15px;">
      <div class="col-xs-6 col-xs-offset-3">
        <button
          type="submit"
          class="btn btn-default btn-block"
          ui-sref="login">Return to log in</button>
        </div>
    </div>
  </div>
</section>
