<div class="col-xs-12">
<section id="sentResetPasswordPane">
  <div class="panel-body">
    <div class="row">
      <div class="col-xs-12">
        <h3>Please check your email.</h3>
        <p>We sent an email to {{email}}, which contains a link to reset your password.</p>
      </div>
    </div>
    <div class="row" style="margin-top:15px;">
      <div class="col-xs-6 col-xs-offset-3">
        <button
          type="submit"
          style="background-color: #093c71 !important;"
          class="btn btn-primary btn-block"
          ng-click="gotoLogin()"
          >Return to log in</button>
        </div>
    </div>
  </div>



</section>
</div>
