
.leaflet-control-layers {
  position: absolute;
  left: 50px;
  top: 0;
}
.leaflet-control-container{
  width: 300px;
}
.leaflet-control-layers-list{
  width: 70px;
}

#w3w-logo{
  background: url(/assets/img/w3w.png);
  background-size: 18px 18px;
  margin-bottom: -4px;
  margin-left: 3px;
  display:inline-block;
  height: 18px;
  width: 18px;

}
