<section id="gcs" style="margin-top: -23px; z-index: -100; overflow: hidden;">
  <div style="
    width: 250px;
    height: 94vh;
    float: left;
    background-color: #eee;
    " ng-show="showActionBar">

    <hgroup style="padding: 10px 5px 5px 5px">
      <h4 style="margin-top: 7px" class="text-center">Deployed Fleet</h4>
    </hgroup>
    <div class="container-fluid">
      <p ng-hide="getOnlineCnt() > 0">Initialize your drones in the Fleet Manager.</p>
      <div class="panel panel-default" ng-repeat="drone in drones track by $index" ng-show="drone.online">
          <div class="panel-body">
            <a href="" ng-click="selectDrone(drone)">
              <strong>{{drone.name}}</strong> | <strong>{{drone.status.State}}</strong>
              <br>In <strong>{{drone.mode}}</strong> flight mode <br>
              <em>{{drone.status.Armed ? "Armed" : "Disarmed"}}</em> and
              <em>{{drone.status.InAir ? "Airborne" : "Grounded"}}</em>
            </a>

            <div ng-show="drone.name == currentDrone.name" ng-init="toggleMode=false; ModeSelect = 'Manual'">
              <hr>
              <button ng-hide="drone.status.InAir" style="margin: 5px 0px 5px 0px;" ng-click="takeoff(drone.name, 30)" class="btn btn-block btn-sm btn-success">Takeoff</button>
              <button ng-show="drone.status.InAir" style="margin: 5px 0px 5px 0px;" ng-click="land(drone.name)" class="btn btn-sm btn-block btn-danger">Land</button>
              <button ng-hide="drone.status.Armed" style="margin: 5px 0px 5px 0px;" ng-click="setArming(drone.name, true)" class="btn btn-sm btn-block btn-primary">Arm</button>
              <button ng-show="drone.status.Armed" style="margin: 5px 0px 5px 0px;" ng-click="setArming(drone.name, false)" class="btn btn-sm btn-block btn-primary">Disarm</button>
              <button ng-click="routeHome(drone)" style="margin: 5px 0px 5px 0px;" class="btn btn-sm btn-block btn-primary">Fly Home</button>
              <hr>
              <a href="" ng-click="toggleRoute=!toggleRoute">Toggle Route Select</a>
              <input ng-show="toggleRoute" style="margin: 5px 0px 5px 0px; font-size: .8em;" type="text" class="form-control" placeholder="Madison Square Park, NYC" ng-model="RouteAddress">
              <button ng-click="routeLoc(drone, RouteAddress)" ng-show="toggleRoute" class="btn btn-sm btn-warning">Find Flight Route</button>
              <hr>
              <a href="" ng-click="toggleMode=!toggleMode">Toggle Flight Mode</a>
              <select ng-show="toggleMode" class="form-control" ng-init="ModeSelect=drone.mode || 'Manual'" ng-model="ModeSelect" style="margin: 5px 0px 5px 0px;">
                <option value="Manual">Manual</option>
                <option value="Altitude">Altitude</option>
                <option value="Position">Position</option>
                <option value="Takeoff">Takeoff</option>
                <option value="Hold">Hold</option>
                <option value="Land">Land</option>
              </select>
              <button ng-click="setMode(drone.name, ModeSelect); toggleMode=false" ng-show="toggleMode" class="btn btn-sm btn-warning">Set Flight Mode</button>
            </div>
          </div>
      </div>
    </div>



  </div>
  <button style="position: fixed; margin-top: 80px; margin-left: 10px; z-index: 2001" class="btn btn-sm btn-primary pull-right" ng-click="toggleActionBar()">
    <span class="glyphicon" ng-class="mapArrow"></span>
  </button>

  <button tooltip-placement="right" uib-tooltip="Pan Mode" style="position: fixed; margin-top: 120px; margin-left: 10px; z-index: 2001" class="btn btn-sm pull-right" ng-class="panToolClass" ng-click="selectTool('pan')">
    <span class="glyphicon glyphicon-screenshot"></span>
  </button>

  <button ng-disabled="!currentDrone" tooltip-placement="right" uib-tooltip="Goto Mode" style="position: fixed; margin-top: 160px; margin-left: 10px; z-index: 2001" class="btn btn-sm pull-right" ng-class="gotoToolClass" ng-click="selectTool('goto')">
    <span class="glyphicon glyphicon-plane"></span>
  </button>

  <button ng-disabled="!currentDrone" tooltip-placement="right" uib-tooltip="Route Mode" style="position: fixed; margin-top: 200px; margin-left: 10px; z-index: 2001" class="btn btn-sm pull-right" ng-class="routeToolClass" ng-click="selectTool('route')">
    <span class="glyphicon glyphicon-send"></span>
  </button>

  <button ng-disabled="!currentDrone" tooltip-placement="right" uib-tooltip="Set Home Location" style="position: fixed; margin-top: 240px; margin-left: 10px; z-index: 2001" class="btn btn-sm pull-right" ng-class="homeToolClass" ng-click="selectTool('home')">
    <span class="glyphicon glyphicon-home"></span>
  </button>

  <div id="telemetryPane" ng-show="currentDrone"
    style="
      position: fixed;
      right: 0px;
      z-index: 2000;
      width: 200px;
      background-color: rgba(0, 0, 0, 0.5);
      color: #fff;
      padding: 0px 15px 15px 15px;
      border-radius: 0px 0px 0px 15px;
    ">
    <h3 class="text-center" style="word-wrap: break-word;">{{currentDrone.name}}</h3>
    <div style="display: block; margin: 0 15px 0 15px;">
      <div style="display: block; margin 0 15px 0 15px;" id="attitude"></div>
      <div style="display: block; margin 0 15px 0 15px;" id="heading"></div>
    </div>

    <hr>
    <!-- <small style="font-size .5em;">Altitude</small> -->
      Altitude <h3 style="margin: 5px 5px 15px 5px;" class="text-center">{{currentDrone.position.Altitude | number:'2'}} <small style="font-size .5em;">m</small></h3>
      Ground Speed <h3 style="margin: 5px 5px 15px 5px;" class="text-center">{{currentDrone.rates.Groundspeed | number:'2'}} <small style="font-size .5em;">m/s</small></h3>
      Throttle <h3 style="margin: 5px 5px 15px 5px;" class="text-center">{{currentDrone.rates.Throttle | number:'2'}} <small style="font-size .5em;">%</small></h3>
      Climb <h3 style="margin: 5px 5px 15px 5px;" class="text-center">{{currentDrone.rates.Climb | number:'2'}} <small style="font-size .5em;">m/s</small></h3>

      <a href="" style="margin: 0 30px;" ng-click="deselectDrone()"><small style="color: #fff;">(Deselect Vehicle)</small></a>
  </div>

  <leaflet id="groundcontrol" defaults="defaults" ng-style="mapOffset" style="
    width: 100%;
    height: 94vh;
    float: right;
    position: fixed;
    "></leaflet>

    <script type="text/ng-template" id="gotoModal.html">
      <div class="modal-header">
        <h3 class="modal-title" id="modal-title">Send vehicle {{target.name}} here?</h3>
      </div>
      <div class="modal-body" id="modal-body">
        Location coordinates: <strong>({{target.lat | number:'5'}}, {{target.lon | number:'5'}})</strong><br>
        Approximate travel time: <strong>
          <span ng-show="target.time > 3600000">{{target.time | date:'h'}} hours,</span>
          <span ng-show="target.time > 60000">{{target.time | date:'m'}} minutes, and</span>
          {{target.time | date:'s'}} seconds.</strong><br>

        Distance: <strong>{{target.dist | number:'2'}} miles.</strong>
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="ok()">Confirm</button>
        <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
      </div>
    </script>
</section>
