
<section id="signupPane">

  <form ng-hide="signupSubmitted" class="panel-body" name="signUpForm"
  novalidate>

  <div class="row" ng-show="error">
    <div class="col-xs-12 ">
      <div  class="alert alert-danger" role="alert" style="">
        <p style="font-size: 13px;" ng-model="error">{{error}}</p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12" style="padding: 15px 15px 30px 15px;">
      <div style="display: block; float: left;
        font-size: 22px;
        line-height: 1;
        font-weight: normal">Create an account</div>
      <div style="display: block;float: right;
        margin-top: 7px;
        line-height: 1;
        font-weight: normal">
        or
        <a ui-sref="login" href="">log in</a>
      </div>
    </div>
  </div>



  </div>
    <div class="row">
      <div class="col-xs-6">
        <fieldset class="form-group">
          <label for="firstName">First Name</label>
          <input
          type="text"
          name="firstName"
          class="form-control input-lg"
          ng-model="user.firstname"
          ng-model-options="{ updateOn: 'default blur', debounce: { 'default': 200, 'blur': 0 }}"
          required>
          <div
            ng-show="signUpForm.firstName.$touched && signUpForm.firstName.$invalid"
            class="text-danger form-alert">Invalid first name</div>
        </fieldset>
      </div>
      <div class="col-xs-6">
        <fieldset class="form-group">
          <label for="lastName">Last Name</label>
          <input
            type="text"
            name="lastName"
            class="form-control input-lg"
            ng-model="user.lastname"
            ng-model-options="{ updateOn: 'default blur', debounce: { 'default': 200, 'blur': 0 }}"
            required>
          <div
            ng-show="signUpForm.lastName.$touched && signUpForm.lastName.$invalid"
            class="text-danger form-alert">Invalid last name</div>
        </fieldset>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <fieldset class="form-group">
          <label for="email">Email</label>
          <input
            type="email"
            name="email"
            class="form-control input-lg"
            ng-model="user.email"
            ng-model-options="{ updateOn: 'default blur', debounce: { 'default': 200, 'blur': 0 }}"
            ng-pattern="/[\w-]+@([\w-]+\.)+[\w-]+/"
            required>
          <div
            ng-show="signUpForm.email.$touched && signUpForm.email.$invalid"
            class="text-danger form-alert">Invalid email</div>
        </fieldset>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <fieldset class="form-group">
          <label for="password">Create a password</label>
          <input
            type="password"
            name="password"
            class="form-control input-lg"
            ng-model="user.password"
            ng-model-options="{ updateOn: 'default blur', debounce: { 'default': 200, 'blur': 0 }}"
            ng-pattern="/^([ -~]{8,20})$/"
            required>
          <div
            ng-show="signUpForm.password.$touched && signUpForm.password.$invalid"
            class="text-danger form-alert">Password must be at least 8 characters</div>
        </fieldset>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <fieldset class="form-group">
          <label for="confirmPassword">Confirm password</label>
          <input
            type="password"
            name="confirmPassword"
            class="form-control input-lg"
            ng-model="user.confirmPassword"
            ng-model-options="{ updateOn: 'default blur', debounce: { 'default': 200, 'blur': 0 }}"
            ng-pattern="/^([ -~]{8,20})$/"
            required>
          <div
            ng-show="signUpForm.confirmPassword.$touched && user.password != user.confirmPassword"
            class="text-danger form-alert">Passwords do not match</div>
        </fieldset>
      </div>
    </div>

    <!-- <label for="kind">I am a . . .</label>
    <div class="row">
      <div class="col-xs-4">
        <fieldset class="radio ">
          <label for="kind">
            <input type="radio" ng-model="user.kind" name="kind" value="developer" required>Developer</label>
        </fieldset>
      </div>
      <div class="col-xs-4">
        <fieldset class="radio">
          <label for="kind">
            <input type="radio" ng-model="user.kind" name="kind" value="enthusiast" required>Enthusiast</label>
        </fieldset>
      </div>
      <div class="col-xs-4">
        <fieldset class="radio">
          <label for="kind">
            <input type="radio" ng-model="user.kind" name="kind" value="educator" required>Educator</label>
        </fieldset>
      </div>
      <div class="col-xs-4">
        <fieldset class="radio">
          <label for="kind">
            <input type="radio" ng-model="user.kind" name="kind" value="hacker" required>Hacker</label>
        </fieldset>
      </div>
      <div class="col-xs-4">
        <fieldset class="radio">
          <label for="kind">
            <input ngInit="user.kind=='other'" type="radio" ng-model="user.kind" name="kind" value="other">Other</label>
        </fieldset>
      </div>
    </div>

    <div class="row" style="margin-top: 15px;">
      <div class="col-xs-12">
        <fieldset
          class="form-group"
          ng-hide="user.kind!='other'">
            <input
              type="text"
              name="otherKind"
              class="form-control input-lg"
              placeholder="What do you do?"
              ng-model="user.other"
              ng-maxlength="25"
              ng-required="user.kind=='other'">
              <div
                ng-show="signUpForm.otherKind.$touched && signUpForm.otherKind.$invalid"
                class="text-danger form-alert">Invalid entry</div>
        </fieldset>
      </div>
    </div> -->

    <div class="row "  style="margin-top:15px;">
      <div class="col-xs-6 col-xs-offset-3">
        <button type="submit"
          class="btn btn-default btn-block"
          ng-disabled="!signUpForm.$valid || user.password != user.confirmPassword"
          ng-click="update(user)"
          value="Signup">Create an account</button>
      </div>
    </div>
  </form>

</section>
