
<section id="resetPasswordPane">
  <form ng-hide="signupSubmitted" class="panel-body" name="resetPasswordForm"
  novalidate>

    <div class="row">
      <div class="col-xs-12" style="padding: 15px 15px 30px 15px;">
        <div style="display: block; float: left;
          font-size: 22px;
          line-height: 1;
          font-weight: normal">Reset password</div>
        <div style="display: block;float: right;
          margin-top: 7px;
          line-height: 1;
          font-weight: normal">
          or
          <a ng-click="gotoLogin()" href="">return to Login</a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <p> Enter your email address and we’ll send you a link to reset your password.</p>
      </div>
    </div>
    <div class="row" ng-show="error">
      <div class="col-xs-12 ">
        <div  class="alert alert-danger" role="alert" style="">
          <p style="font-size: 13px;" ng-model="error">{{error}}</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <fieldset class="form-group has-feedback" ng-class="{
        'has-error': resetPasswordForm.email.$dirty && resetPasswordForm.email.$invalid
        }">
          <label for="email">Email</label>

          <!-- <span class="input-group-addon">&nbsp<i class="fa fa-envelope fa-fw"></i>&nbsp</span> -->
          <input type="email" class="form-control input-lg"
            id="email" name="email"
            placeholder=""
            ng-model="user.email"
            ng-model-options="{ updateOn: 'default blur', debounce: { 'default': 200, 'blur': 0 }}" required>
          <span
            class="fa fa-fw form-control-feedback"
            ng-show="resetPasswordForm.email.$dirty"
            ng-class="{'fa-times': resetPasswordForm.email.$dirty && resetPasswordForm.email.$invalid,
          'fa-check': resetPasswordForm.email.$dirty && resetPasswordForm.email.$valid
          }"
            aria-hidden="true"></span>

          <span ng-show="resetPasswordForm.email.$error.email" class="text-danger">Please enter a valid email.</span>
        </fieldset>

      </div>
    </div>







      <div class="row" style="margin-top:15px;">
    <div class="col-xs-6 col-xs-offset-3">
          <button
            type="submit"
            style="background-color: #093c71 !important;"
            class="btn btn-primary btn-block"
            ng-disabled="!resetPasswordForm.$valid"
            ng-click="update(user)"
            value="Reset" >Reset Password</button>


            </div>

            </div>

  </form>


  <!-- <div class="row" style="">
    <div class="col-xs-6 col-xs-offset-3">
      <button type="submit"
        style="background-color: #093c71 !important;"
        class="btn btn-primary btn-block"
        ng-disabled="!resetPasswordForm.$valid"
        ng-click="update(user)"
        value="Signup">Create an account</button>
    </div>
  </div> -->

</section>
