<div class="col-xs-12">
<section id="resetPasswordPane">
  <form ng-hide="signupSubmitted" class="panel-body" name="resetPasswordForm"
  novalidate>

    <div class="row">
      <div class="col-xs-12" style="padding: 15px 15px 30px 15px;">
        <div style="display: block; float: left;
          font-size: 22px;
          line-height: 1;
          font-weight: normal">Reset password</div>
        <div style="display: block;float: right;
          margin-top: 7px;
          line-height: 1;
          font-weight: normal">
          or
          <a ui-sref="login">return to Login</a>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <fieldset class="form-group has-feedback" ng-class="{
        'has-error': resetPasswordForm.password.$dirty && resetPasswordForm.password.$invalid
        }">
          <label for="password">Password</label>
          <input
            tooltip-placement="right"
            uib-tooltip="If you have never created a password please click Reset Password"
            tooltip-append-to-body="true"
            type="password"
            class="form-control input-lg"
            id="password"
            name="password"
            placeholder=""
            ng-model="user.password"
            ng-model-options="{ updateOn: 'default blur', debounce: { 'default': 200, 'blur': 0 }}"
            ng-pattern="/^(?=.*[a-z]).{8,20}$/"
            required>
          <span
            class="fa fa-fw form-control-feedback"
            ng-show="resetPasswordForm.password.$dirty"
            ng-class="{'fa-times': resetPasswordForm.password.$dirty && resetPasswordForm.password.$invalid,
          'fa-check': resetPasswordForm.password.$dirty && resetPasswordForm.password.$valid
          }"
            aria-hidden="true"></span>
          <span ng-show="resetPasswordForm.password.$error.pattern" class="text-danger">Password must be at least 8 characters</span>
        </fieldset>
      </div>

    </div>


    <div class="row">
      <div class="col-xs-12">
        <fieldset class="form-group has-feedback" ng-class="{
        'has-error': resetPasswordForm.confirmPassword.$dirty && resetPasswordForm.confirmPassword.$invalid
        }">
          <label for="confirmPassword">Confirm Password</label>
          <input
            tooltip-placement="right"
            uib-tooltip="If you have never created a password please click Reset Password"
            tooltip-append-to-body="true"
            type="password"
            class="form-control input-lg"
            id="confirmPassword"
            name="confirmPassword"
            placeholder=""
            ng-model="user.confirmPassword"
            ng-model-options="{ updateOn: 'default blur', debounce: { 'default': 200, 'blur': 0 }}"
            ng-pattern="/^(?=.*[a-z]).{8,20}$/"
            required>
          <span
            class="fa fa-fw form-control-feedback"
            ng-show="resetPasswordForm.password.$dirty"
            ng-class="{'fa-times': resetPasswordForm.confirmPassword.$dirty && resetPasswordForm.confirmPassword.$invalid,
          'fa-check': resetPasswordForm.confirmPassword.$dirty && resetPasswordForm.confirmPassword.$valid
          }"
            aria-hidden="true"></span>
          <span ng-show="resetPasswordForm.confirmPassword.$error.pattern" class="text-danger">Password must be at least 8 characters</span>
        </fieldset>
      </div>

    </div>


    <div class="row" ng-show="error" style="margin-top:15px;">
      <div class="col-xs-12 text-center">
        <p class="text-danger" ng-model="error">{{error}}</p>
      </div>
    </div>


      <div class="row" style="margin-top:15px;">
    <div class="col-xs-6 col-xs-offset-3">
          <button
            type="submit"
            style="background-color: #093c71 !important;"
            class="btn btn-primary btn-block"
            ng-disabled="!resetPasswordForm.$valid || user.password != user.confirmPassword"
            ng-click="update(user)"
            value="Reset" >Reset Password</button>


            </div>

            </div>

  </form>


  <!-- <div class="row" style="">
    <div class="col-xs-6 col-xs-offset-3">
      <button type="submit"
        style="background-color: #093c71 !important;"
        class="btn btn-primary btn-block"
        ng-disabled="!resetPasswordForm.$valid"
        ng-click="update(user)"
        value="Signup">Create an account</button>
    </div>
  </div> -->

</section>
</div>
