<section>
  <form class="panel-body" name="resetPasswordForm"
  novalidate>

    <div class="row" ng-show="error">
      <div class="col-xs-12 ">
        <div  class="alert alert-danger" role="alert" style="">
          <p style="font-size: 13px;" ng-model="error">{{error}}</p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12" style="padding: 15px 15px 30px 15px;">
        <div style="display: block; float: left;
          font-size: 22px;
          line-height: 1;
          font-weight: normal">Reset password</div>
        <div style="display: block;float: right;
          margin-top: 7px;
          line-height: 1;
          font-weight: normal">
          or
          <a ui-sref="login">return to Login</a>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <fieldset class="form-group">
          <label for="password">Password</label>
          <input
            type="password"
            name="password"
            class="form-control input-lg"
            ng-model="user.password"
            ng-model-options="{ updateOn: 'default blur', debounce: { 'default': 200, 'blur': 0 }}"
            ng-pattern="/^([ -~]{8,20})$/"
            required>
          <div
            ng-show="resetPasswordForm.password.$touched && resetPasswordForm.password.$invalid"
            class="text-danger form-alert">Password must be at least 8 characters</div>
        </fieldset>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <fieldset class="form-group">
          <label for="confirmPassword">Confirm Password</label>
          <input
            type="password"
            name="confirmPassword"
            class="form-control input-lg"
            ng-model="user.confirmPassword"
            ng-model-options="{ updateOn: 'default blur', debounce: { 'default': 200, 'blur': 0 }}"
            ng-pattern="/^([ -~]{8,20})$/"
            required>
          <div
            ng-show="resetPasswordForm.confirmPassword.$touched && resetPasswordForm.confirmPassword.$invalid"
            class="text-danger form-alert">Password must be at least 8 characters</div>
        </fieldset>
      </div>
    </div>

    <div class="row" style="margin-top:15px;">
      <div class="col-xs-6 col-xs-offset-3">
          <button
            type="submit"
            class="btn btn-default btn-block"
            ng-disabled="!resetPasswordForm.$valid || user.password != user.confirmPassword"
            ng-click="update(user)">Reset Password</button>
      </div>
    </div>

  </form>
</section>
