<section id="resetPasswordPane">
    <h3 class="text-center">Reset Password</h3>
    <form class="panel-body" ng-hide="passwordSubmitted" name="resetPasswordForm" novalidate>
      <fieldset
        class="form-group"
        ng-class="{
          'has-error': resetPasswordForm.email.$dirty && resetPasswordForm.email.$invalid,
          'has-success': resetPasswordForm.email.$dirty && resetPasswordForm.email.$valid
        }">
        <label for="email">Email Address</label>
        <input
          type="email"
          class="form-control"
          id="email"
          name="email"
          placeholder="Email"
          ng-model="user.email"
          ng-model-options="{ updateOn: 'blur' }"
          required>
          <span ng-show="resetPasswordForm.email.$dirty && resetPasswordForm.email.$error.email" class="text-danger">Please enter a valid email.</span>
      </fieldset>
      <fieldset
        class="form-group"
        ng-class="{
          'has-error': resetPasswordForm.confirmEmail.$dirty && resetPasswordForm.confirmEmail.$invalid,
          'has-success': resetPasswordForm.confirmEmail.$dirty && resetPasswordForm.confirmEmail.$valid
        }">
        <label for="confirmEmail">Confirm Email</label>
        <input
          type="email"
          class="form-control"
          id="confirmEmail"
          name="confirmEmail"
          placeholder="Confirm Email"
          ng-model="user.confirmEmail"
          ng-model-options="{ updateOn: 'default blur', debounce: { 'default': 500, 'blur': 0 } }"
          required>
          <span ng-show="resetPasswordForm.confirmEmail.$dirty && resetPasswordForm.confirmEmail.$error.email" class="text-danger">Please enter a valid email.</span>
      </fieldset>

      <button
        type="submit"
        class="btn btn-primary"
        ng-disabled="!resetPasswordForm.$valid || (user.confirmEmail !== user.email)"
        ng-click="update(user)"
        value="ResetPassword">Reset Password</button>
        <span ng-show="resetPasswordForm.email.$dirty && resetPasswordForm.confirmEmail.$dirty && (user.confirmEmail !== user.email)" class="text-danger">Emails don't match.</span>
    </form>
    <hgroup class="text-center" ng-show="passwordSubmitted">
      <h3>Your password is on its way!</h3>
      <p class="lead">
        We've emailed a new password to the email on file. Use this new password to login to Dronesmith Cloud.
      </p>
    </hgroup>
    <hr>
    <button class="btn btn-default center-block" ui-sref="login">Return to Login</button>
</section>
