
<section id="fullscreen">
  <div id="hidden"></div>
  <div ui-map="myMap" ui-options="mapOptions" class="map-canvas"></div>
  <div id="hud">
    <!-- <svg id="floghtheading" ng-include="'assets/img/renderer/hud_heading.svg'"></svg>
    <svg id="flightangle" ng-include="'assets/img/renderer/hud_ang.svg'"></svg>
    <svg ng-include="'assets/img/renderer/hud_sides.svg'"></svg>
    <svg id="angleArrow" ng-include="'assets/img/renderer/hud_arrow_a.svg'"></svg>

    <svg id="throttleArrow" ng-include="'assets/img/renderer/hud_arrow_b.svg'"></svg>
    <svg id="groundspeedArrow" ng-include="'assets/img/renderer/hud_arrow_b.svg'"></svg> -->

    <!-- Textual elements -->
    <!-- <p id="rollAngle">{{getDisplayText('roll')}}°</p>
    <p id="throttleAngle">{{getDisplayText('throttle')}}%</p>
    <p id="speed">{{getDisplayText('groundspeed')}}</p>
    <p id="alt">{{getDisplayText('alt')}}m</p>
    <p id="bat">{{getDisplayText('battery_remaining')}}%</p>

    <p id="batteryHeading">Bat</p>
    <p id="altHeading">Alt</p>
    <p id="throttleHeading">Throttle</p>
    <p id="speedHeading">Speed</p> -->

    <!-- <p id="compassN">N</p>
    <p id="compassE">E</p>
    <p id="compassS">S</p>
    <p id="compassW">W</p> -->

    <!-- <div ui-map="myMap" ui-options="mapOptions" class="map-canvas"></div> -->

    <!-- <div id="timeline"> -->
      <!-- <uib-progressbar
        type="info" min="180000" max="750000" value="mavStream[droneId]['ATTITUDE'].time_boot_ms
          || simStream['ATTITUDE'].time_boot_ms"></uib-progressbar> -->

      <!-- <p><strong>Elapsed Time:</strong> {{((mavStream[droneId]['ATTITUDE'].time_boot_ms
        || simStream['ATTITUDE'].time_boot_ms) / 1000).toFixed(2)}}s</p>

      <p class="cameraTxt"><strong>Camera Mode</strong></p>

      <div class="btn-group pull-right">
        <label class="btn btn-primary btn-sm pilotBtns" ng-model="cameraMode" uib-btn-radio="'follow'">Follow</label>
        <label class="btn btn-primary btn-sm pilotBtns" ng-model="cameraMode" uib-btn-radio="'pilot'">Pilot</label>
        <label class="btn btn-primary btn-sm pilotBtns" ng-model="cameraMode" uib-btn-radio="'fps'">First Person</label>
      </div>
    </div> -->
  </div>

  <!-- <renderer fullscreen="true" bind="mavStream[droneId] || simStream"></renderer> -->
</section>
