<section id="hangar" class="container">
    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="page-header">
              <h1 style="color: #0279b3">Fleet Manager
                <!-- <small ng-show="drones">{{drones.length == 0 ? "Get started by selecting New Drone" : drones.length + " in hangar"}}</small>
                <small ng-hide="drones">Loading...</small>

                <button class="btn btn-md btn-primary pull-right" ng-click="newDrone()"><span class="glyphicon glyphicon-plus"></span> New Drone</button> -->
              </h1>

              <hr>

            </div>
          </div>
        </div>
      </div>
    </div>

    <uib-accordion close-others="true" ng-click="footerOpen=!footerOpen">

      <uib-accordion-group ng-repeat="drone in drones track by $index" heading="">
        <uib-accordion-heading>
          <p class="text-right">
            <span class="pull-left lead">{{drone.name || "drone-" + drone.firmwareId}}</span>
            <span class="badge text-info">{{drone.missions.length}} Missions</span>
            <span
              class="label"
              ng-class="{
                'label-success': drone.online,
                'label-danger': !drone.online
                }">
                {{drone.online ? "online" : "offline"}}
            </span>
          </p>
        </uib-accordion-heading>
        <div class="row">
          <div class="col-sm-4">
            <div class="well" ng-init="isCollapsed = true">
              <h3>{{drone.name || "drone-" + drone.firmwareId}} <small>
                  <a href="" ng-show="!drone.online" ng-click="isCollapsed=!isCollapsed; updateDrone(isCollapsed, drone.name, newname)">{{isCollapsed ? 'edit' : 'update'}}</a></small></h3>
              <div uib-collapse="isCollapsed">
                <form class="well-sm">
                  <fieldset class="form-group">
                    <label>Name</label>
                    <input class="form-control" type="text" ng-model="newname">
                  </fieldset>
                </form>
              </div>
              <p>

                <strong>Virtual Drone:</strong> {{!!(drone.type == "Virtual Drone")}} <br>

                <strong ng-show="drone.info">Type:</strong> {{drone.info.Type}} <br>
                <strong ng-show="drone.info">Firmware:</strong> {{drone.info.Firmware}} <br>
                <strong ng-show="drone.info">Protocol:</strong> {{drone.info.Protocol}} <br>
              </p>
            </div>
          </div>
          <div class="col-sm-4">
            <img ng-hide="drone.online" class="img-responsive" src="assets/img/lucismall.png">
                <!-- <pre>{{drone.position | json}}</pre> -->
            <p ng-show="drone.online">
              In <strong>{{drone.mode}}</strong>  mode. <br>
              <strong>Power:</strong> {{drone.status.Power}}% <br>
              <strong>Armed:</strong> {{drone.status.Armed}} <br>
              <strong>Flying:</strong> {{drone.status.InAir}} <br>
              <strong>VtoL State:</strong> {{drone.status.VTOLMode}} <br>
            </p>
            <hr>
            <p ng-show="drone.online">
              <strong>Altitude:</strong> {{drone.position.Altitude}} <br>
              <strong>Heading:</strong> {{drone.position.Heading}} <br>
              <strong>Local Position:</strong> ({{drone.position.X | number:'2'}}, {{drone.position.Y | number:'2'}}, {{drone.position.Z | number: '2'}}) <br>
              <strong>Global Position:</strong> ({{drone.position.Latitude}}, {{drone.position.Longitude}}) <br>
            </p>
          </div>
          <div class="col-sm-4">
            <div ng-hide="liveDroneData[drone._id].status == 'offline'" class="well well-sm">
              <h4 class="text-center">Actions</h4>
                <a ng-show="drone.online" style="margin: 5px 0px 5px 0px;"  href="" class="btn btn-default btn-block" ui-sref="gcs">Open in Ground Control</a>
            </div>
          </div>
        </div>
        <div class="accordionFooter">
          <hr>
          <button class="pull-right btn btn-default" ng-click="delDrone(drone.name)">
            <span class="glyphicon glyphicon-trash">
          </button>
        </div>
      </uib-accordion-group>
    </uib-accordion>
</section>
