<section id="apiconsole"
  style="
    background: linear-gradient(to top, #eee, #fff);
    z-index: 2000;
    padding: 10px 10px 10px 10px;
    border: 2px solid #ddd;
    border-radius: 25px 25px 0px 0px;
    width: 100%;
    bottom:0;
    left:0;
    position: fixed;
  " ng-style="selectHeight">

  <a style="
    font-size: 25px;
    display: block;
    margin: 0 auto 0;
    " href="" class="text-center" ng-click="toggleView()">
    <span class="glyphicon" ng-class="selectGlyph"></span>
  </a>

    <div class="col-sm-6">
      <h4>API Console</h4>
      <hr>
      <p><em>Under construction</em></p>
    </div>
    <div class="col-sm-6">
      <h4>API Log <small>Click any log item to see request body and reponse</small></h4>
      <hr>

      <div style="height: 32vh; overflow: scroll;">
        <div style="position: relative;">
          <li style="list-style: none" ng-repeat="item in datalogs">
            <div ng-init="collapsed=true" ng-click="collapsed=!collapsed">

              <span class="label" ng-class="item.methodClass">{{item.method}}</span> <a href="">[{{item.time | date:'HH:mm:ss'}}] {{item.url}}</a><br>
             <pre style="
                 font-size: 10px;
                 margin: 5px 5px 5px 5px;
               "
               ng-hide="collapsed">Body: {{item.body | json}} <br>Response: {{item.response.data | json}}
             </pre>
           </div>
         </li>
        </div>
      </div>
    </div>
</section>
