<section id="reporting">
  <div class="row">
    <div class="col-sm-3">
      <h3>Your Flights</h3>
      <ul class="list-group">
        <li ng-repeat="flight in flights" class="list-group-item">
          <a href="" ng-hide="flight.kind=='sdlog'" ng-click="loadFlight(flight);">
            {{flight.created | date:'medium'}} | <small>{{flight.kind}}</small>
          </a>
          <p
            uib-tooltip="Binary Log analytics currently not supported."
            tooltip-placement="top"
            tooltip-trigger="mouseenter"
            ng-show="flight.kind=='sdlog'">
            {{flight.created | date:'medium'}} | <small>{{flight.kind}}</small></p>
        </li>
      </ul>
    </div>
    <div class="col-sm-8" ng-init="isCollapsed=true">
      <h3>Analysis <small><a href="" ng-click="isCollapsed = !isCollapsed">edit</a></small></h3>
      <div uib-collapse="isCollapsed">
        <form name="chartForm" ng-init="inEditMode=false">

          <div class="row">
            <fieldset class="form-group col-sm-6">
              <label for="yAxis1">Y Axis Label</label>
              <input
                class="form-control"
                type="text"
                ng-model-options="{ updateOn: 'blur' }"
                ng-model="nvGraphConfig.chart.yAxis1.axisLabel">
            </fieldset>

            <fieldset class="form-group col-sm-6">
              <label for="editData">Edit Data Set</label>
              <select
                class="form-control"
                ng-show="nvGraphData.length > 0"
                ng-model="stream"
                ng-click="
                  newDataCollapse=false;
                  newDatum=getDatum(stream);
                  inEditMode=true;
                "
                ng-change="
                  newDatum=getDatum(stream);
                  inEditMode=true;
                "
                ng-options="i as s.key for (i, s) in nvGraphData track by i">
                  <option style="display:none" value="">Select a Data Set</option>
              </select>
              <p ng-hide="nvGraphData.length > 0" class="text-danger">No Data Sets.</p>
            </fieldset>

          </div>

          <fieldset class="form-group">
            <button class="btn btn-default" ng-click="
              newDataCollapse=false;
              newDatum = initDatum();
              inEditMode = false;
              ">New Data Set</button>
              <button class="btn btn-default" ng-click="api.refresh()">Refresh</button>
          </fieldset>

          <div class="row" ng-init="newDataCollapse=true">
            <div uib-collapse="newDataCollapse" class="well well-sm">
              <div class="row">
                <fieldset class="form-group col-sm-6">
                  <label for="datumName">Name</label>
                  <input
                    class="form-control"
                    type="text"
                    ng-model-options="{ updateOn: 'blur' }"
                    ng-model="newDatum.key">
                </fieldset>

                <fieldset class="form-group col-sm-6">
                  <label for="datumName">Message Number</label>
                  <input
                    class="form-control"
                    type="number"
                    min="0"
                    max="255"
                    ng-model-options="{ updateOn: 'blur' }"
                    ng-model="newDatum.msg">
                </fieldset>

                <fieldset class="form-group col-sm-6">
                  <label for="datumName">Field Name</label>
                  <input
                    class="form-control"
                    type="text"
                    ng-model-options="{ updateOn: 'blur' }"
                    ng-model="newDatum.name">
                </fieldset>

                <fieldset class="form-group col-sm-6">
                  <label for="datumName">Data Point</label>
                  <select
                    ng-model="newDatum.type"
                    class="form-control">
                    <option value="line">Line Plot</option>
                    <option value="area">Area Graph</option>
                    <option value="bar">Bar Graph</option>
                  </select>
                </fieldset>

                <fieldset class="form-group col-sm-6">
                  <button
                    ng-show="!inEditMode"
                    class="btn btn-default pull-left"
                    ng-click="
                      addDataPoint(newDatum);
                      newDataCollapse=true;
                      api.refresh();">Add Data Set</button>
                  <button
                    ng-show="inEditMode"
                    class="btn btn-default pull-left"
                    ng-click="
                      updateDataPoint(newDatum, stream);
                      newDataCollapse=true;
                      api.refresh();">Update</button>
                  <button
                    ng-show="inEditMode"
                    class="btn btn-default pull-left"
                    ng-click="
                      removeDataPoint(stream);
                      newDataCollapse=true;
                      api.refresh();">Remove</button>
                </fieldset>

                <fieldset class="form-group col-sm-6">
                  <button class="btn btn-default pull-right" ng-click="newDataCollapse=true">Close Pane</button>
                </fieldset>
              </div>
            </div>
          </div>


        </form>
      </div>
      <nvd3 options="nvGraphConfig" data="nvGraphData" api="api"></nvd3>
      <button
        class="btn btn-default pull-right"
        ng-csv="getDataAsCSV()"
        ng-disabled="nvGraphData.length == 0"
        filename="{{CSVExport}}.csv"
        lazy-load="true">Export CSV</button>
    </div>
  </div>
</section>
