<section>
  <div class="panel-body">
    <div class="row">
      <div class="col-xs-12">
        <h1 class="text-center" style="font-weight: 700; margin-top: 15px; margin-bottom: 25px;">Success!</h1>
        <h3>Please check your email.</h3>
        <p>We sent an email to {{email}}, which contains a link to confirm your email address.
          After your email is confirmed we will send you your API key.</p>
      </div>
    </div>
    <div class="row" style="margin-top:15px;">
      <div class="col-xs-6 col-xs-offset-3">
        <button
          type="submit"
          class="btn btn-default btn-block"
          ui-sref="login">Log in to Hangar</button>
        </div>
    </div>
  </div>
</section>
